{% extends 'layout.html' %}

{% block body %}
    <div class="section" xmlns:object-fit="http://www.w3.org/1999/xhtml">
        <h1 class="title">File lists</h1>
        {% if files|length == 0 %}
            <h2 class="subtitle">No files :(</h2>
        {% else %}
            <div class="columns is-multiline">
                {% for file in files %}
                    <div class="column is-3">
                        <a href={{ file }}>
                            <div class="card" style="overflow: hidden">
                                <div class="card-image">
                                    <figure class="image">
                                        <img src={{ file }} style="height: 150px; object-fit: cover">
                                    </figure>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="column is-12">
            <div class="field">
                <div class="file is-small">
                    <label class="file-label" style="margin-left: auto; margin-right: auto">
                        <form method="post" enctype="multipart/form-data">
                            {{ form.csrf_token }}

                            {{ form.upload(class='file-input', onchange="this.form.submit()") }}
                            <span class="file-cta">
                                <span class="file-label">
                                    Upload a new image
                                </span>
                            </span>
                        </form>
                    </label>
                </div>
            </div>
        </div>

        {% with messages = get_flashed_messages() %}
            {% if form.upload.errors %}
                {% set error = form.upload.errors[0] %}
            {% endif %}
            {% if messages or error %}
                {% include 'message.html' %}
            {% endif %}
        {% endwith %}
{% endblock %}