<form method="post">
    <div class="field">
        <div class="control">
            <input name="username" class="input" type="text" placeholder="username" disabled value={{ default_username }}>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <input name="twit" class="input" type="text" placeholder="twit">
        </div>
    </div>
    <div class="field">
        <div class="control has-text-centered">
            <input type="submit" class="button is-primary is-outlined">
        </div>
    </div>
</form>