{% extends 'layout.html' %}

{% block body %}

    <h1 class="title">
        Food, Serve, Delicious
    </h1>
    <h2 class="subtitle">
        Cook and make new friends!
    </h2>

    {% if ctas|length>0 %}
        <div class="field is-grouped" style="justify-content:center;">
            {% for cta in ctas %}
                <p class="control">
                    <a href="{{ cta.url }}"
                       class="is-inverted is-primary is-outlined button is-rounded">{{ cta.text }}</a>
                </p>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}