<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
</head>
<body>
<section class="hero is-info is-fullheight is-bold">

    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-menu">
                    <div class="navbar-end">
                        {% for btn in buttons %}
                            <a class="navbar-item" href={{ btn.url }}>{{ btn.text }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </div>

    <div class="hero-foot">
        <nav class="tabs is-fullwidth">
            <div class="container">
                <ul>
                    <li class="has-text-centered">{{ message }}</li>
                </ul>
            </div>
        </nav>
    </div>

</section>
</body>
</html>