{% extends 'layout.html' %}

{% block body %}

    <h1 class="title has-text-centered">Edit</h1>

    <div class="columns is-multiline">
        <div class="column is-4 is-offset-4">
            <form method="post">
                {{ form.csrf_token }}

                {% if type == 'mongo' %}
                    <div class="field">
                        <div class="control">
                            {{ form.username(class='input', placeholder='username', disabled=true, value=twit.username) }}
                            {% if form.username.errors %}
                                <p class="help is-danger">{{ form.username.errors[0] }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            {{ form.twit(class='input', placeholder='twit', value=twit.twit) }}
                            {% if form.twit.errors %}
                                <p class="help is-danger">{{ form.twit.errors[0] }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="field">
                        <div class="control has-text-centered">
                            {{ form.submit(class='button is-primary is-outlined') }}
                        </div>
                    </div>
                {% endif %}


                {% if type == 'mysql' %}
                    <div class="field">
                        <div class="control">
                            {{ form.username(class='input', placeholder='username', disabled=true, value=twit[0]) }}
                            {% if form.username.errors %}
                                <p class="help is-danger">{{ form.username.errors[0] }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            {{ form.twit(class='input', placeholder='twit', value=twit[1]) }}
                            {% if form.twit.errors %}
                                <p class="help is-danger">{{ form.twit.errors[0] }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="field">
                        <div class="control has-text-centered">
                            {{ form.submit(class='button is-primary is-outlined') }}
                        </div>
                    </div>
                {% endif %}

            </form>
        </div>
    </div>

{% endblock %}