<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    {% block javascript_header %}{% endblock %}
</head>
<body>
<section class="hero is-primary is-fullheight is-bold">

    <div class="hero-head">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="{{ url_for_index }}">
                    Food Serve Delicious
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-end">
                    {% for btn in buttons %}
                        <a class="navbar-item" href={{ btn.url }}>{{ btn.text }}</a>
                    {% endfor %}
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered" style="padding-bottom: 20vh">
            {% block body %}{% endblock %}
        </div>
    </div>

    <div class="hero-foot">
        <div class="container has-text-centered section">
            <span class="is-capitalized">Food Server Delicious @ 2018</span>
        </div>
    </div>

</section>
</body>
{% block javascript_footer %}{% endblock %}

<script>
    document.querySelector('.navbar-burger').addEventListener('click', function () {
        document.querySelector('.navbar-menu').classList.toggle('is-active');
    });
</script>
</html>