{% extends 'layout.html' %}

{% block body %}

    <h1 class="title">Sign In</h1>
    <div class="column is-one-fifth">
    <div class="control">
        <form method="post">
            {{ form.csrf_token }}
            <div class="field">
                {{ form.username(class='input', placeholder='username') }}
            </div>
            <div class="field">
                {{ form.password(class='input is-primary', placeholder='password') }}
            </div>
            <div class="field">
                {{ form.submit(class='button') }}
            </div>
        </form>
    </div>
    </div>
{% endblock %}