{% extends 'layout.html' %}

{% block body %}
    {% if isLogin == True %}
        <div class="columns">
            <div class="column is-4-desktop is-offset-4-desktop ">
                <h2 class="subtitle  has-text-centered">Twits</h2>

                {% if form is defined %}
                <div class="section">
                    {% include './twit_form.html' %}
                </div>
                {% endif %}

                {% for twit in twits %}

                    <article class="message is-small is-link">
                        <div class="message-header">
                            <span></span>
                            <div>
                                <a href={{ url_to_edit_twit + '/' + twit.twit_id|string}}>edit</a>
                                <a href={{ url_to_delete_twit + '/' + twit.twit_id|string}} class="delete" aria-label="delete"></a>
                            </div>
                        </div>
                        <div class="message-body">
                            <div class="content">
                                <p>{{ twit.twit }}</p>
                                <p class="has-text-grey-light">{{ twit.created_at }}</p>
                            </div> 
                        </div>
                    </article>
                {% endfor %}
                
            </div>    
        </div>
    {% endif %}
{% endblock %}